{% extends "App/padre.html" %}

{% load static %}

{% block titulohead %}
    App - Boxeadores
{% endblock %}

{% block titulo %}
    EDICION DE BOXEADORES
{% endblock %}



{% block parrafo %}
    <p>Formulario de edicion de boxeadores</p>
{% endblock %}



{% block contenido %}
    <form action="{% url 'editarBoxeador' boxeador.id %}" method="POST"> {% csrf_token %}
        
        <table>
            {{ form.as_table }}
        </table>

        <div style="text-align: center;">
            <input type="submit" value="Editar Boxeador" >
        </div>
        
    </form>
{% endblock %}
